Repository gxkai/blog.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc.json:

{
  "*.{js,ts,vue}": [
    "eslint --fix",
    "git add"
  ],
  "*.{scss,css}": [
    "stylelint --fix",
    "git add"
  ]
}

chore: init;
  lianliankan/index.html
  lianliankan/normalize.02b6c58e.css
  packages/lianliankan/package.json
Due: stylelint --fix

chore: init;
  lianliankan/game.ed624bdf.js
  lianliankan/game.ed624bdf.js.map
  lianliankan/style.d4af31b1.css
  lianliankan/style.d4af31b1.css.map
Due: eslint --fix, stylelint --fix

chore: init;
  lianliankan/index.html
  packages/lianliankan/game/index.html
  packages/lianliankan/game/tiles.ts
  packages/lianliankan/game/ui/input.ts
  packages/lianliankan/game/ui/sidebar.tsx
  packages/lianliankan/game/utils.ts
Due: eslint --fix

chore: init;
  lianliankan/game.6821e630.js
Due: eslint --fix

chore: init;
  lianliankan/game.afdfc18b.js
  lianliankan/index.html
  packages/lianliankan/game/index.html
Due: eslint --fix

chore: init;
  packages/lianliankan/game/ui/textures.ts
Due: eslint --fix

chore: init;
  lianliankan/game.475a5778.js
  lianliankan/index.html
Due: eslint --fix

chore: init;
  lianliankan/game.a7b24d1d.js
  lianliankan/index.html
  packages/lianliankan/game/ui/textures.ts
Due: eslint --fix

chore: init;
  lianliankan/game.43d0c495.js
  lianliankan/index.html
  packages/lianliankan/game/utils.ts
Due: eslint --fix

chore: init;
  lianliankan/game.94ead48e.js
  lianliankan/game.e9357bb2.js
  lianliankan/index.html
  packages/lianliankan/game/index.html
  packages/lianliankan/game/ui/input.ts
  packages/lianliankan/game/utils.ts
  packages/lianliankan/package.json
  packages/lianliankan/yarn.lock
Due: eslint --fix

chore: init;
  lianliankan/game.43d0c495.js.map
  lianliankan/game.475a5778.js.map
  lianliankan/game.6821e630.js.map
  lianliankan/game.94ead48e.js.map
  lianliankan/game.a7b24d1d.js.map
  lianliankan/game.afdfc18b.js.map
  lianliankan/game.bee48dcc.js
  lianliankan/game.bee48dcc.js.map
  lianliankan/game.de557a61.js
  lianliankan/game.de557a61.js.map
  lianliankan/game.e9357bb2.js.map
  lianliankan/index.html
  packages/lianliankan/game/ui/input.ts
  packages/lianliankan/game/utils.ts
Due: eslint --fix

chore: init;
  lianliankan/index.html
  packages/lianliankan/game/index.html
Due: none

chore: init;
  lianliankan/game.06fa8c2c.js
  lianliankan/index.html
  packages/lianliankan/game/utils.ts
Due: eslint --fix

chore: init;
  lianliankan/game.06fa8c2c.js
  lianliankan/game.43d0c495.js
  lianliankan/game.43d0c495.js.map
  lianliankan/game.475a5778.js
  lianliankan/game.475a5778.js.map
  lianliankan/game.6821e630.js
  lianliankan/game.6821e630.js.map
  lianliankan/game.94ead48e.js
  lianliankan/game.94ead48e.js.map
  lianliankan/game.a7b24d1d.js
  lianliankan/game.a7b24d1d.js.map
  lianliankan/game.afdfc18b.js
  lianliankan/game.afdfc18b.js.map
  lianliankan/game.bee48dcc.js
  lianliankan/game.bee48dcc.js.map
  lianliankan/game.de557a61.js
  lianliankan/game.de557a61.js.map
  lianliankan/game.e9357bb2.js
  lianliankan/game.e9357bb2.js.map
  lianliankan/game.e954511d.js
  lianliankan/game.e954511d.js.map
  lianliankan/game.ed624bdf.js
  lianliankan/game.ed624bdf.js.map
  lianliankan/index.html
  lianliankan/map1.3f7e3869.xml
  lianliankan/style.467e5508.css
  lianliankan/style.467e5508.css.map
  packages/lianliankan/game/map-loader.ts
  packages/lianliankan/game/maps/map1.xml
  packages/lianliankan/game/terrain.ts
  packages/lianliankan/game/tiles.ts
  packages/lianliankan/game/utils.ts
  packages/lianliankan/package.json
Due: eslint --fix, stylelint --fix

chore: init;
  lianliankan/index.html
  packages/lianliankan/package.json
  packages/lianliankan/yarn.lock
Due: none

chore: init;
  lianliankan/game.359190ce.js
  lianliankan/game.359190ce.js.map
  lianliankan/map1.c317979f.xml
  packages/lianliankan/package.json
Due: eslint --fix

chore: init;
  lianliankan/game.359190ce.js.map
  lianliankan/game.51841254.js
  lianliankan/game.51841254.js.map
  lianliankan/index.html
  packages/lianliankan/package.json
Due: eslint --fix

chore: init;
  cup/asset-manifest.json
  cup/index.html
  packages/cup/package.json
Due: none
